p { text-align:center; }
h1 { text-align:center; }
#DuckBreed { background-color: red;
 	color: white;
 	padding: 40px;
 	width: 30%;
 	margin-top: 20px;
 	margin-right: auto;
 	margin-bottom: 20px;
 	margin-left: auto;}

#DuckFood {background-color: darkgreen;
	color: white;
 	padding: 40px;
 	width: 30%;
 	margin-top: 20px;
 	margin-right: auto;
 	margin-bottom: 20px;
 	margin-left: auto;}


 



